/* Variables */
:root {
  /* Primary Color */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-blue: hsl(229, 23%, 23%);
  --dark-grey-blue: hsl(227, 10%, 46%);

  /* Neutral Color */
  --dark-grey: hsl(0, 0%, 59%);
}

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: "Kumbh Sans", sans-serif;
  background: var(--dark-cyan);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Utility Styles */
.container {
  width: min(85%, 401px);
  margin-inline: auto;
}

/* Mobile Styles */
body {
	background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
	background-repeat: no-repeat, no-repeat;
	background-size: 99%, 99%;
	background-position-x: -4300%, 5500%;
	background-position-y: -70%, 130%;
}

/* Main styles */
main.main .wrapper {
	border-radius: 15px;
	background-color: white;
	overflow: hidden;
	position: relative;
}

main.main .wrapper img.card {
	width: 100%;
	height: 135px;
}

main.main .wrapper .avatar {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	top: 83px;
}

main.main .wrapper .avatar img.profile {
	border-radius: 50%;
	border: 5px solid #fff;
}

main.main .wrapper .details {
	margin-top: 4.5rem ;
	text-align: center;
}

.wrapper .details p.user-info {
	color: var(--very-dark-blue);
	font-size: 1.5rem;
	font-weight: 700;
}

.wrapper .details p.user-info span {
	color: var(--dark-grey-blue);
	font-weight: 400;
}

.wrapper .details p.location {
	color: var(--dark-grey-blue);
	font-weight: 400;
	font-size: 1.2rem;
	margin-block: .5rem 2rem;
}

.wrapper .details .wrapper-footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-block: 1.5rem;
}

.details .wrapper-footer p.numbers {
	color: var(--very-dark-blue);
	font-weight: 700;
	font-size: 1.5rem;
}

.details .wrapper-footer p.detail {
	letter-spacing: 2px;
	font-size: .8rem;
	color: var(--dark-grey);
}

/* Desktop Styles */
@media(min-width: 768px) {
	body {
		background-size: 80%, 80%;
		background-position-x: -140%, 220%;
		background-position-y: 270%, -220%;
	}
}